@import "../variable.scss";
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.left p {
  margin-bottom: 0;
  color: $text-secondary;
}
.top-navbar {
  background-color: #020202;
  width: 100%;
  height: 44px;
  justify-content: space-between;
}
.left {
  margin-left: 14.43%;
}
.right {
  margin-right: 14.4%;
}
.right p {
  margin-bottom: 0;
}
