<div class="container-fluid pad-0">
  <div class="d-flex top-navbar">
    <div class="text left">
      <p class="text-secondary">
        Mon-Thu: <span class="text-light">9:00 AM - 5:30 PM</span>
      </p>
    </div>
    <div class="right text">
      <p>Call Us:(00)1234 5678</p>
    </div>
  </div>
</div>
<div class="">
  <app-navbar></app-navbar>
</div>
<router-outlet></router-outlet>
<ngx-http-loader
  [opacity]="1"
  [loader]="loader.ELLIPSIS"
  [iconColor]="'white'"
  [backdropBackgroundColor]="'black'"
>
</ngx-http-loader>
