@import "../variable.scss";
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.left p {
  margin-bottom: 0;
  color: $text-secondary;
}
.top-navbar {
  background-color: #020202;
  height: 44px;
  justify-content: space-between;
}
.left {
  margin-left: 14.43%;
}
.right {
  margin-right: 14.4%;
}
.right p {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .top-navbar {
    background-color: #020202;
    width: 100%;
    height: 40px;
  }
  .text {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }
  .left {
    margin-left: 4%;
  }
  .right {
    margin-right: 4%;
  }
}

@media (max-width: 362px) {
  .top-navbar {
    background-color: #020202;
    width: 100%;
    height: 30px;
  }
  .text {
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
  }
}
