<!-- <template id="success-popup">
  <swal title="Fill the form, rapidly"></swal>
  <swal
    imageUrl="assets/success.png"
    imageWidth="100px"
    imageHeight="100px"
  ></swal>
  <swal text="You will get your product soon!"></swal>
</template> -->

<!-- <div><p style="font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 24px;line-height: 30px;">Purchase Successful</p><p style="font-family: 'Poppins';font-style: normal;font-weight: 300;font-size: 18px;line-height: 30px;">You will get your product soon! <br />to experience the spatial audio withadaptive EQ that tunes music to your ears.</p></div> -->
